<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <div id="app">
    <h1>{{ message }} </h1>
    <!-- 반복문 돌려서 li 태그로 이름 출력
      for
      if (같은 라인, for가 우선순위 높음)
    -->
    <table>
      <tr v-for="member in members">
        <td v-if="member.gender === 'M'">{{ member.name }}?</td>
        <td v-else>{{ member.name }}</td>
      </tr>
    </table>
    <!-- v-model -->
    <!-- data내에 초기화 필요 -->
    <input type="text" class="text" v-model="userText"> 
    <p>입력중...{{ userText }}</p>
    <!-- 속성값 : v-bind -->
    <h2>v-bind</h2>
    <img v-bind:src="url"></img> 
    <img :src="url"> <!-- shorthanded -->
    <!--  -->
    <button v-on:click="countUp">++++++++++</button>
    <p>{{ counter }}</p>
    <button @click="countDown">------------</button>
  </div>


  <script>
    const app = new Vue({
      el: '#app',
      data: { // app.$data
        url: 'https://upload.wikimedia.org/wikipedia/ko/c/cd/Doraemon.PNG',
        userText: '', 
        message: 'Hello,', // app.message
        members: [{
            name: '경호',
            gender: 'M'
          },
          {
            name: '은비',
            gender: 'F'
          },
          {
            name: '태우',
            gender: 'M'
          }
        ],
        counter: 0,
      },
      methods: {
          countUp: function() {
            this.counter++
            this.counter *= 2
            console.log(this.counter)
          },
          countDown: function() {
            this.counter--
            this.counter /= 2
            console.log(this.counter)
          }
        }
    })
  </script>
</body>

</html>